body {
  font-family: Verdana;
  font-size: 12px;
}
h1 {
  font-size: 14px;
  font-weight: bold;
}
#output {
  background: #333;
}
canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}
video {
  display: none;
}
#videoscreen {
  // display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}
#source {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1049;
}

// #output {
//   $elements: 33;
//   @for $i from 0 to $elements {
//     canvas:nth-child(#{$i}) {
//        opacity: $i * 3;
//     }
//   }
// }
