body {
  font-family: Verdana;
  font-size: 12px;
}
h1 {
  font-size: 14px;
  font-weight: bold;
}
#output {
  background: #333;
}
canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
video {
  // display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  // width: auto;
  // height: auto;
  z-index: 0;
  object-fit: fill;
  // background-size: cover;
}
#videoscreen {
  // display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#source {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.color-picker {
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 20px;
}

#pixelSize {
  position: absolute;
  z-index: 3;
  top: 20px;
  width: 200px;
}

// #output {
//   $elements: 33;
//   @for $i from 0 to $elements {
//     canvas:nth-child(#{$i}) {
//        opacity: $i * 3;
//     }
//   }
// }
